@import "../vendor/less-elements/elements";

@speakingColor: dodgerblue;

.clickable {
  cursor: pointer;
}

.speech-toggle {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 50px;
}

.ba-speech {
  .transition(.3s, ease-in-out);

  &.speaking {
    color: @speakingColor;
  }
}

// upload related
.upload {
  color: black;
}

// managing uploads related
.uploads {
  .video {
    .changed {
      background-color: #ffff00;
    }
  }

  .grid {
    font-size: 14px;
  }
}